.App {
  text-align: left;
  margin-left: 20px;
 
  }

.app-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}
 table{
  border-collapse: collapse;
  width: 100%;
 }

 th,
 td{
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 20px;
 }

 th{
  background-color: rgb(117, 201, 250);
 }
 td {
  background-color: rgb(205,235,253);
 }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

